*{
	margin: 0px;
	padding: 0px;
}


.content{
	margin-top:100px;
	border:3px solid blue;
	border-radius: 10px;
	padding:40px 20px;
}
.list{
	background:yellow;
	padding: 5px;
	border-radius:10px;
	margin:5px;
}
.danhsach{
	/* width:500px; */
	margin:auto;
	margin-top:50px;
	
}
.danhsach table{
	/* width: 500px; */
	margin-top:0;
	border:1px solid black;
	/* border-top:2px solid #009638; */
}
.danhsach h3{
	background: #009688;
	color:#FFF;
	text-align:center;
	padding:5px;
	
}
.timkiem{
	width:500px;
	margin:auto;
	margin-top:50px;
}